<a href="https://colab.research.google.com/github/JonailtonPPereira/Prevendo-Campeao-da-Copa-do-Nordeste/blob/master/Prevendo_o_Campe%C3%A3o_da_Copa_do_Nordeste_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# O Score é com base no [Ranking da CBF 2022](https://www.rankingcbf.com/) para a temporada 2022-23. A estrutura do grupos é definida com base na [tabela oficial](https://ge.globo.com/futebol/copa-do-nordeste/).

In [1]:
# Importando a biblioteca pandas para ler o arquivo csv
import pandas as pd

In [7]:
# Leitura do arquivo csv e visualização dos dados presentes
df = pd.read_csv("https://raw.githubusercontent.com/JonailtonPPereira/Prevendo-Campeao-da-Copa-do-Nordeste/master/Copa_do_NE.csv")
df

                    A                  B
0   FORTALEZA|12512.0     NAUTICO|3720.0
1  FERROVIARIO|2237.0  SANTA CRUZ|2012.0
2        SPORT|5929.0         CSA|5088.0
3          CRB|5259.0       BAHIA|9289.0
4      SAMPAIO|4529.0         ABC|2842.0
5      VITORIA|4932.0      SERGIPE|871.0
6  FUMINENSE_PI|505.0    CAMPINENSE|1484
7   ATLETICO_BA|882.0       CEARA|9958.0

# Classe que representa um time, com suas características e comportamentos:

In [8]:
import random

class Team:
  best_score = 12512.0 # Fortaleza

  # Definir um construtor com os atributos adequados (Tendo em vista o conteúdo de uma célula CSV)
  def __init__(self, content):
    teamData= content.split('|')
    self.name = teamData[0]
    self.score = float(teamData[1])

  def motivate(self):
    """
    A pior equipe com base no ranking (Sergipe) tem 871 de score no ranking da CBF, o que equivale a 6,96% da melhor equipe (Fortaleza) que 12512.0 de score.
    Sendo assim, para que a aleatoriedade não seja tão determinante, irei definir um intervalor inicial próximo de 6,96.
    
    Por exemplo, Sergipe poderia ter valores entre 4~6,96 (Aproximandamente). Por outro lado, o Fortaleza teria 4~100 (Maior chance de ser campeão).
    12512 (Fortaleza) ---- 100%
    871 (Sergipe) --------- x 
    """

    self.lastMotivation = random.uniform(4, (self.score * 100) / Team.best_score)
    # Todo: Com base no comentário/insight acima, criar uma lógica para atribuir a motivação do timne.
    return self.lastMotivation

# Simulando a Fase de   Grupos da Copa do Nordeste

In [10]:
# Mpa em que a chave será a letra do grupo e o valor as equipes (Ordenadas pelas melhores);
bestTeamByGroups = {}
# Percorre o datafram para criar nossos objetos/seleções.
for label, content in df.items():
  # Instanciando os times dos dois grupos, com seus respectivos nomes e rankings.
  team1 = Team(content[0])
  team2 = Team(content[1])
  team3 = Team(content[2])
  team4 = Team(content[3])
  team5 = Team(content[4])
  team6 = Team(content[5])
  team7 = Team(content[6])
  team8 = Team(content[7])
  # Simulando os melhores de cada grupo com base na motivação
  bestTeamByGroups[label] = sorted([ team1, team2, team3, team4, team5, team6, team7, team8 ], key=Team.motivate, reverse=True)

# Imprimir os grupos, ordenados pelos melhores times de cada
for grupo, motivatedTeams in bestTeamByGroups.items():
  print(f'Grupo {grupo}: ', end="")
  for team in motivatedTeams:
    print(f'{team.name} ({team.lastMotivation:.2f}) ', end="")
  print()

Grupo A: FORTALEZA (70.12) SPORT (27.59) FERROVIARIO (17.27) VITORIA (12.20) SAMPAIO (8.89) CRB (5.69) ATLETICO_BA (4.83) FUMINENSE_PI (4.03)
Grupo B: CEARA (73.98) BAHIA (46.98) ABC (16.91) CSA (14.47) NAUTICO (9.65) CAMPINENSE (9.56) SANTA CRUZ (6.81) SERGIPE (4.50)

# Simulando as Quartas de Finais da Copa do Nordeste

In [11]:
# Criando as variáveis para os 4 melhores times de cada grupo
team1A = bestTeamByGroups["A"][0]
team2A = bestTeamByGroups["A"][1]
team3A = bestTeamByGroups["A"][2]
team4A = bestTeamByGroups["A"][3]
team1B = bestTeamByGroups["B"][0]
team2B = bestTeamByGroups["B"][1]
team3B = bestTeamByGroups["B"][2]
team4B = bestTeamByGroups["B"][3]

# Simulando os confrontos das oitavas de final (Aplicando a aleatoriedade nas motivações das equipes)
# Além de definir os classificados para as quartas em novas variáveis:
Quartas1 = team1A if team1A.motivate() > team4A.motivate() else team4A
Quartas2 = team2B if team2B.motivate() > team3B.motivate() else team3B
Quartas3 = team1B if team1B.motivate() > team4B.motivate() else team4B
Quartas4 = team2A if team2A.motivate() > team3A.motivate() else team3A

# Imprimindo os "resultados" dos confrontos:
print(f'{team1A.name} ({team1A.lastMotivation:.2f}) x {team4A.name} ({team4A.lastMotivation:.2f})')
print(f'{team2B.name} ({team2B.lastMotivation:.2f}) x {team3B.name} ({team3B.lastMotivation:.2f})')
print(f'{team1B.name} ({team1B.lastMotivation:.2f}) x {team4B.name} ({team4B.lastMotivation:.2f})')
print(f'{team2A.name} ({team2A.lastMotivation:.2f}) x {team3A.name} ({team3A.lastMotivation:.2f})')

FORTALEZA (97.33) x VITORIA (25.97)
BAHIA (31.45) x ABC (19.73)
CEARA (39.51) x CSA (29.93)
SPORT (40.19) x FERROVIARIO (5.26)

# Simulando as Semifinais da Copa do Nordeste

In [14]:
# Simulando os confrontos das Semifinais (Aplicando a aleatoriedade nas motivações das equipes)
# Além de definir os classificados para as finais em novas variáveis:
Semifinalistas1 = Quartas1 if Quartas1.motivate() > Quartas2.motivate() else Quartas2
Semifinalistas2 = Quartas3 if Quartas3.motivate() > Quartas4.motivate() else Quartas4

# Imprimindo os "resultados" das semifinais:
print(f'{Quartas1.name} ({Quartas1.lastMotivation:.2f}) x {Quartas2.name} ({Quartas2.lastMotivation:.2f})')
print(f'{Quartas3.name} ({Quartas3.lastMotivation:.2f}) x {Quartas4.name} ({Quartas4.lastMotivation:.2f})')

FORTALEZA (28.32) x BAHIA (50.47)
CEARA (6.08) x SPORT (45.86)

# Simulando a Grande final da Copa do Nordeste

In [23]:
# Simulando o confronto da Final (Aplicando a aleatoriedade nas motivações das equipes)
# Além de definir o grande campeão e o vice em novas variáveis:
campeao = Semifinalistas1 if Semifinalistas1.motivate() > Semifinalistas2.motivate() else Semifinalistas2
viceCampeao = Semifinalistas1 if Semifinalistas1.motivate() < Semifinalistas2.motivate() else Semifinalistas2

# Imprimindo os "resultados" das semifinais:

print(f'Campeão: {campeao.name} ({campeao.lastMotivation:.2f})')
print(f'Vice-campeão: {viceCampeao.name} ({viceCampeao.lastMotivation:.2f})')

Campeão: SPORT (46.49)
Vice-campeão: BAHIA (8.82)